language: python
sudo: enabled
install: 
 - sudo pip install -r requirements.txt
 - sudo pip install pycodestyle
stages:
 - test
 - runPEP8
 - displayHelp
 - startService
script: ./snow-grafana-proxy.py -c ./etc/snow-grafana-proxy.conf
python:
 - "2.7"
 - "3.5"
 - "3.6"

jobs:
 include:
  - stage: runPEP8
    script: pycodestyle --ignore=E501,E722 ./snow-grafana-proxy.py
    python:
     - "3.6"
     - "2.7"
  - stage: displayHelp
    script: ./snow-grafana-proxy.py --help
    python:
     - "3.6"
  - stage: startService
    script: ./snow-grafana-proxy.py -c ./etc/snow-grafana-proxy.conf
    python:
     - "2.7"
     - "3.5"
     - "3.6"
